


@using (Html.BeginForm())
{
    <p></p>
    @Html.AntiForgeryToken()
    <div class="form-group">
        <center>@SystemRezerwacjiKortow.Resources.Texts.EnterEmail  <input type="text" name="emailToSend" /> <input type="submit" value="Wyślij" class="btn btn-default" /></center>
    </div>

}
