<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>@SystemRezerwacjiKortow.Resources.Texts.Error</title>
</head>
<body>
    <hgroup>
        <h1>@SystemRezerwacjiKortow.Resources.Texts.Error</h1>
        <h2>@SystemRezerwacjiKortow.Resources.Texts.ErrorRequest.</h2>
    </hgroup>
</body>
</html>
